/*
.page_body{

  --background: linear-gradient(to right top, #e0004e, #e10248, #e20742, #e20d3c, #e21335, #e21431, #e3162c, #e31827, #e41623, #e5141e, #e61318, #e71212);

  --color: white;
}
.card {
  --background: white;
  --color: red;
  --border-radius: 50px;
  --border-color: white;
}*/
