


<ion-content padding class="page_body">



  <div style="margin: 20px">

    <h2>Register</h2>
  </div>


  <ion-card class="card">
    <ion-card-content>
      <form  (ngSubmit)="submitQuizConfiguration()"
             #quizConfigForm="ngForm">

      <ion-input [(ngModel)]="user.username"  name="username"  placeholder="username" ></ion-input>

      <ion-input [(ngModel)]="user.email"   name="email" placeholder="email"></ion-input>

      <ion-input [(ngModel)]="user.password" name="password"  placeholder="password" type="password"></ion-input>

      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="registerUser()" class="success">Submit</ion-button>


      <ion-button routerLink="/login" class="success">Login</ion-button>


      <ion-button routerLink="/tabs/quiz" class="success">Skip</ion-button>

    </ion-card-content>
  </ion-card>




</ion-content>
