
<ion-header id="top_section">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" ></ion-menu-button>
    </ion-buttons>



    <ion-title text-center>
      Subscribe
    </ion-title>


   <!-- <ion-buttons color="white" slot="start" (click)="dismiss()">
      <ion-button style="color: #f4f5f8">


        <ion-icon  slot="start"  name="close-circle-outline"></ion-icon>



      </ion-button>
    </ion-buttons>-->



  </ion-toolbar>
</ion-header>


<ion-content>




  <ion-card>
    <ion-card-content>

      <div>


        <img
                src="assets/svg/1.svg"
        />

        <div class="text-container">

          <h2 class="primary-color"  style="font-size: 20px">Thank you for using ExamTrain</h2>

          <p class="primary-color">Subscribe to enjoy full unlimited access to all Features:
          </p>

          <p>
              <span class="primary-color">1 : </span> Ability to increase past question quiz to 40 questions</p>

          <p> <span class="primary-color">2 : </span>View answers and solutions to all questions</p>
          <p>  <span class="primary-color">3 : </span>A detailed analytics to point to areas of improvement
          </p>

        </div>

       <div>
         <h2 class="primary-color">How To Subscribe</h2>
           <p>
               To Subscribe. Transfer {{amount}} to the account details below
           </p>
         <p>  <span class="primary-color">Account Number: </span> 0009367581 </p>
         <p> <span class="primary-color">Account Name: </span>    Toyeeb Rahmon</p>
         <p> <span class="primary-color">Bank:</span>  Stanbic IBTC </p>
       </div>

          <p>
            Then call any of  the  number below for confirmation
          </p>
        <p  class="primary-color" style="font-size: 15px">
            The whole process takes less than 5 Mins
            </p>

        </div>


        <br>
        <br>

        <ion-button class="share_button" (click)="call('0907213556')" expand="block">
            Ifeoluwa - 0907213556
        </ion-button>


        <ion-button class="share_button" (click)="call('09068465879')" expand="block">
            Adewole - 09068465879
        </ion-button>


    </ion-card-content>
  </ion-card>





</ion-content>
