<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">


    <nb-card>
      <nb-card-header>Exams</nb-card-header>
      <nb-card-body>

        <nb-accordion>

          <nb-accordion-item *ngFor="let exam of exams">
            <nb-accordion-item-header>
              {{exam.name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>

              <nb-list-item>
                <div class="row">

                  <div class="col-sm-4">Add New Subject</div>
                  <div class="col-sm-4"><nb-select>
                    <option>CRK</option>
                    <option>IRK</option>
                  </nb-select>

                  </div>
                  <div class="col-sm-4"><button nbButton>Add</button></div>

                </div>

              </nb-list-item>

              <nb-list-item *ngFor="let subject of exam.subjects">
                <div class="row">
            <div class="col-sm-8">{{ subject }}</div>
            <div class="col-sm-4">
\

              <!--
              <nb-icon  [icon]="'edit'" pack="ion"></nb-icon>
              <nb-icon  [icon]="'trash-a'" pack="ion"></nb-icon>
              <nb-icon  [icon]="'arrow-right-b'" pack="ion"></nb-icon>

      <nb-icon  [icon]="'arrow-right-b'" pack="ion"></nb-icon>
-->

              <nb-actions size="small" >

                <nb-action icon="edit-outline" title="Edit" link="home"></nb-action>

                <nb-action icon="checkmark-circle-2-outline" title="Show In App" link="home"></nb-action>



                <nb-action icon="trash-2-outline" title="Delete" link="home"></nb-action>

                <nb-action icon="arrow-circle-right-outline" title="View Curriculum" link="curriculum"></nb-action>

              <!--  <nb-checkbox status="success">Show In App</nb-checkbox> -->


              </nb-actions>

            </div>

                </div>

              </nb-list-item>
                </nb-accordion-item-body>
          </nb-accordion-item>






        </nb-accordion>
      </nb-card-body>
    </nb-card>



  </div>

</div>
<ngx-fab></ngx-fab>
