.mid-width-button{
  max-width: 50vw !important;
}
.fix-bottom{
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.trophy_image{

  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.trophy_card{
  //max-height: 50vh;
  //height: 50vh;
  background-color: #fbfbf3;

}