<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="menu-button" ></ion-menu-button>
        </ion-buttons>


        <ion-title text-center="">Quiz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="quiz_journey_data">
        <ion-card-header>
            <ion-card-title>Challenge</ion-card-title>

            <ion-card-subtitle>Level : Beginner</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-item no-padding="" no-margin="">
                <ion-label>Category > {{paused_quiz.category}}</ion-label>
            </ion-item>

            <ion-grid>
                <ion-row justify-content-center="">
                    <ion-col size="4">
                        <p>Current Page</p>
                        <strong>{{paused_quiz.current_index + 1}}</strong>
                    </ion-col>

                    <ion-col size="4">
                        <p>Countdown</p>
                        <strong> {{paused_quiz.countdown}}Secs</strong>
                    </ion-col>

                    <ion-col size="4">
                        <p>Remaining</p>
                        <strong
                        >{{paused_quiz.quiz_config.amount - (paused_quiz.current_index +
                            1) }}</strong
                        >
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button expand="block" (click)="resumePausedQuiz()"
            >Resume
            </ion-button
            >
        </ion-card-content>
    </ion-card>

    <div *ngIf="data_loaded">
        <ion-card *ngIf="paused_quiz">
            <ion-card-header>
                <ion-card-title class="primary-color">Paused Quiz</ion-card-title>

                <!-- <ion-card-subtitle>Paused Quiz Found </ion-card-subtitle>-->
            </ion-card-header>

            <ion-card-content>
                <ion-item no-padding="" no-margin="">
                    <ion-label class="">
                        <span class="primary-color"> Exam :-  </span>
                        {{quizService.getExamTypeDisplayName(paused_quiz.quiz_config.type)}}
                    </ion-label>
                </ion-item>
                <ion-item no-padding="" no-margin="">
                    <ion-label >  <span class="primary-color"> Subject :-  </span>{{quizService.getSubjectDisplayName(paused_quiz.quiz_config.subject)}}
                    </ion-label>
                </ion-item>

                <ion-item no-padding="" no-margin="">
                    <ion-label class="">
                        <span class="primary-color"> Year :-  </span>
                        {{paused_quiz.quiz_config.year}}
                    </ion-label>
                </ion-item>





                <ion-grid>
                    <ion-row justify-content-center="">
                        <ion-col size="4">
                            <p  class="primary-color ">Questions</p>
                            <strong class=" ">{{paused_quiz.quiz_config.amount}}</strong>
                        </ion-col>


                        <ion-col size="4">
                            <p  class="primary-color ">Paused At</p>
                            <strong class="">

            {{paused_quiz.current_index + 1}}
                            </strong
                            >
                        </ion-col>



                        <ion-col size="4">
                            <p  class="primary-color ">Timer</p>
                            <strong class=""> {{paused_quiz.countdown}} Secs </strong>
                        </ion-col>


                    </ion-row>
                </ion-grid>
                <ion-button expand="block" (click)="resumePausedQuiz()"
                >Resume
                </ion-button
                >
                <p text-center="">OR</p>

                <ion-button expand="block" (click)="startNewQuiz()"
                >Start New Quiz
                </ion-button>
            </ion-card-content>
        </ion-card>


        <form
                *ngIf="!paused_quiz"
                (ngSubmit)="submitQuizConfiguration()"
                #quizConfigForm="ngForm"
        >
            <ion-list>
                <ion-list-header></ion-list-header>

                <ion-item>
                    <ion-label>Exam Type</ion-label>

                    <ion-select
                            [interfaceOptions]="customActionSheetOptions"
                            interface="action-sheet"
                            [(ngModel)]="quiz_config.type"
                            name="type"
                            [placeholder]="'E.g Jamb'"
                    >
                        <ion-select-option *ngFor="let type of exam_types" value="{{type.name}}"
                        >{{type.title}}
                        </ion-select-option
                        >

                        <ion-select-option value="ican" disabled>ICAN (N/A .Coming Soon)</ion-select-option>

                        <ion-select-option value="ccna" disabled>CCNA (N/A. Coming Soon)</ion-select-option>

                        <ion-select-option value="pmp" disabled>PMP (N/A. Coming Soon)</ion-select-option>

                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Subject</ion-label>

                    <ion-select
                            [interfaceOptions]="customActionSheetOptions"
                            interface="action-sheet"
                            [(ngModel)]="quiz_config.subject"
                            name="subject"
                            [placeholder]="'E.g English'"
                    >
                        <ion-select-option *ngFor="let subject of subjects" value="{{subject.name}}"
                        >{{subject.title}}
                        </ion-select-option
                        >
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>Year</ion-label>

                    <ion-select
                            [interfaceOptions]="yearActionSheetOptions"
                            interface="action-sheet"
                            [(ngModel)]="quiz_config.year"
                            name="year"
                            [placeholder]="'E.g 2012'"
                    >


                        <ion-select-option value="">Random</ion-select-option>

                        <ion-select-option *ngFor="let i of exam_years" value="{{i}}"
                        >{{i}}
                        </ion-select-option>


                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label slot="start">Questions No</ion-label>

<!--
                    <ion-input
                            slot="end"
                            [min]="2"
                            [max]="max_question_count"
                            [value]="max_question_count"
                            type="number"
                            [(ngModel)]="quiz_config.amount"
                            name="amount"
                    >
                    </ion-input>-->


                    <ion-select
                            [interfaceOptions]="questionNumberActionSheetOptions"
                            interface="action-sheet"
                            [(ngModel)]="quiz_config.amount"
                            name="amount"
                            slot="end"
                            placeholder="{{max_question_count}}"
                    >



                        <ion-select-option *ngFor="let dummy of ' '.repeat(max_question_count).split(''), let x = index"   value="{{x+1}}" >{{x+1}}
                        </ion-select-option>


                    </ion-select>






                </ion-item>
            </ion-list>

            <ion-button
                    padding-horizontal=""
                    expand="block"
                    (click)="submitQuizConfiguration()"
            >START
            </ion-button>









        </form>
    </div>
</ion-content>
