<ion-header *ngIf="page_ready">
  <ion-toolbar>
    <ion-title text-center="">Quiz Page</ion-title>

    <ion-button style="color: white" slot="end" (click)="pauseQuiz()"
      ><ion-icon name="pause"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="page_ready">
  <ion-card no-margin="">
    <ion-card-header>
      <ion-item lines="full" no-padding="" no-margin="">
        <ion-label slot="start" style="overflow: visible">
          Que : {{ current_page + 1 }} / {{quiz_config.amount}}
        </ion-label>

        <div slot="end" class="progress-percentage-wrapper">
          <div class="progress-percentage ng-cloak">
            {{countdown}}
          </div>

          <round-progress
            [current]="quiz_time - countdown"
            [max]="quiz_time"
            [color]="progress_color"
            [background]="'#eaeaea'"
            [radius]="22"
            [stroke]="2"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="false"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
          ></round-progress>
        </div>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark" text-center="">
        <h1 [innerHTML]="questions[current_page].question"></h1>
      </ion-text>

      <br />

      <ion-list>
        <ion-item
          margin-bottom=""
          color="{{getOptionColor(option)}}"
          *ngFor="let option of questions[ current_page ].options"
          (click)="setAnswer(current_page , option)"
          text-center=""
          class="options_item"
          lines="none"
        >
          <ion-label [innerHTML]="option" class=""></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--

  <ion-button [disabled]="current_page <= 0" (click)="goPrev()" >Previous</ion-button>


  <ion-button *ngIf="current_page < (quiz_config.amount - 1)" (click)="goNext()" >Next</ion-button>


  <ion-button *ngIf="current_page == (quiz_config.amount - 1)" (click)="submitQuiz()" >Submit</ion-button>

-->

  <br />
</ion-content>
