<ion-content>
    <ion-card no-margin="">
        <ion-card-header color="primary" text-center="">
            <ion-card-title>
                Info
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>

            You have reached the max amount of quiz you can play for today.
            To play with restrictions and other all other features, please subscribe


            <ion-button expand="block" margin-bottom="" (click)="subscribe()"
            >Subscibe Now
            </ion-button
            >

            <ion-button expand="block" margin-bottom="" (click)="cancel()"
            >Exit
            </ion-button>


        </ion-card-content>
    </ion-card>
</ion-content>
