<ion-content>
    <ion-card no-margin="">
        <ion-card-header color="primary" text-center="">
            <ion-card-title>
                Info
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <p> You have reached the max amount of quiz you can play for today.</p>
            <br>
            <p></p>
            To play without restrictions and have access to all features, please subscribe


            <ion-button expand="block" margin-bottom="" (click)="subscribe()"
            >Subscribe Now
            </ion-button
            >

            <ion-button expand="block" margin-bottom="" (click)="cancel()"
            >Exit
            </ion-button>


        </ion-card-content>
    </ion-card>
</ion-content>
