


<ion-content padding style="padding-top: 0px">

  <ion-card>
    <ion-card-header class="card-video-header">
      <ion-card-title style="text-align: center;color:white"> Algebra</ion-card-title>
    </ion-card-header>
    <ion-card-content no-margin no-padding style="background-color: black">

      <iframe width="" height="200" src="https://www.youtube.com/embed/5TbUxGZtwGI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%"></iframe>

    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-icon name="bookmark"></ion-icon>
            <br>
            <p>Bookmark</p>
          </ion-item>

        </ion-col>

        <ion-col>
          <ion-item>
          <ion-icon name="share"></ion-icon>
         <br>
          <p>Share</p>
          </ion-item>
        </ion-col>

        <!--<ion-col>
          <ion-item>
          <ion-icon name="filing"></ion-icon>
            <br>
          <p>Transcript</p>
          </ion-item>
        </ion-col>-->


      </ion-row>
    </ion-grid>

  </ion-card-content>

</ion-card>

  <ion-card>
    <ion-card-content>
      In this lesson we will look at how to solve linear equations using the ALmighty Formula
    </ion-card-content>
  </ion-card>



      <ion-list>
        <ion-item>  <ion-icon name="checkmark-circle-outline"></ion-icon>    1- Introduction      </ion-item>

        <ion-item>   <ion-icon name="checkmark-circle-outline"></ion-icon>    2- Introduction      </ion-item>

        <ion-item class="currently_playing"> <p class="currently_playing"> 3- Algebra   </p>        </ion-item>
        <ion-item>       4- Introduction      </ion-item>
        <ion-item>       5- Introduction      </ion-item>
      </ion-list>











</ion-content>
