<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>



    <ion-tab-button  tab="quiz">
      <ion-icon name="play"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>



    <ion-tab-button tab="history">
      <ion-icon name="time"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>



    <!--
    <ion-tab-button tab="study">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Study</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard">
      <ion-icon name="stats"></ion-icon>
      <ion-label>LeaderBoard</ion-label>
    </ion-tab-button>

-->

  </ion-tab-bar>

</ion-tabs>
