<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" ></ion-menu-button>
    </ion-buttons>


    <ion-title text-center="">News Feeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list class=''>

    <ion-card *ngFor="let feed of feeds" routerLink="./{{feed.id}}" >
      <ion-card-header>

        <h3 class="feed-title"> {{feed.title}}</h3>
      </ion-card-header>

      <ion-card-content>
        {{feed.highlight}} <span style="font-style: italic;color: red">Click To Read More</span>
      </ion-card-content>

    </ion-card>



  </ion-list>

<!--  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
