<ion-header>
  <ion-toolbar>
    <ion-title text-center="">News Feeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list class=''>

    <ion-card>
      <ion-card-header>
        JAMB 2020 Registration
      </ion-card-header>

      <ion-card-content>
        Registration Fee is Three Thousand Five Hundred (N3, 500) Naira Additional Five Hundred (N500) Naira only, is paid to obtain the reading text Sweet Sixteen by Bolaji Abdullahi and The Last Days at Forcados High School by A. H. Mohammed for DE Candidates
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>
        JAMB 2020 Exam Date
      </ion-card-header>

      <ion-card-content>
        The 2019 CBT EXAMINATION will commence on
        Saturday, 10 March and end on Saturday, 17th March, 2020
      </ion-card-content>

    </ion-card>

  </ion-list>

<!--  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
