
<ion-content fullscreen padding scroll-y="false">


  <ion-slides  pager="true"  [options]="slideOpts">

    <ion-slide>

      <div class="img_div" >
        <img src="assets/svg/welcome.svg"/>
      </div>

      <div class="text_div">
        <h2>Welcome to <b>ExamTrain</b></h2>
        <p>The exam preparation app that yields success</p>
      </div >


    </ion-slide>

    <ion-slide>
      <div class="img_div">
      <img src="assets/svg/1.svg"/>
      </div>

      <div class="text_div">
      <h2>Practice Past Questions</h2>
      <p>Practice JAMB CBT on your phone for free . With 16 years of JAMB Past-Questions and Answers</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="img_div">
      <img src="assets/svg/tutorial1.svg"/>
      </div>
      <div class="text_div">
      <h2>Free Tutorials</h2>
      <p>View  curated tutorials that explains each topic comprehensively</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="img_div">
      <img src="assets/svg/4.svg"/>
      </div>
      <div class="start">
      <h2>Ready to Start?</h2>
      <ion-button fill="clear" (click)="start()">Continue <ion-icon slot="end" name="arrow-forward" ></ion-icon></ion-button>
      </div>
    </ion-slide>



  </ion-slides>


  <div class="swiper-button-prev" (click)="slide('prev')">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg>

  </div>

  <div class="swiper-button-next" (click)="slide('next')">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg>


  </div>



</ion-content>

