.slides-md {
  --bullet-background: red;

}

.swiper-slide {
  display: block;
}
ion-slide > h2 {
  margin-top: 2rem;
}
ion-slide > img {
  max-height: 40vh;
  max-width: 80%;
  margin: 20vh 0 12vh;
}
.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
}


.swiper-pagination {
  bottom: 1px !important;
}

