<p>
  make-payment works!
</p>

<!--<angular4-paystack
        [email]="'mailexample@mail.com'"
        [amount]="5000000"
        [ref]="reference"
        [channels]="['bank']"
        [class]="'btn btn-primary'"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
>
  Pay with Paystack
</angular4-paystack>

<button
        angular4-paystack
        [key]="'pk_test_xxxxxxxxxxxxxxxxxxxxxxx'"
        [email]="'mailexample@mail.com'"
        [amount]="5000000"
        [ref]="reference"
        [class]="'btn btn-primary'"
        (paymentInit)="paymentInit()"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
>
  Pay with Paystack
</button>-->



