
  <ion-slides  [options]="slideOpts">

    <ion-slide *ngFor="let subject of subjects"  (click)="showTopicsFor(subject)">
      <ion-button color="primary" class="subject-slide" style=" letter-spacing : 0.0em !important;padding-start: 2.1em !important;max-width: 30vw !important;width: 30vw !important;">{{subject}}</ion-button>
    </ion-slide>

  </ion-slides>



<div style="margin-top: 30px"></div>

<ion-text class="selected-subject">
  <h1>{{selected_subject}}</h1>

</ion-text>


  <ion-card *ngFor="let topic of subject_topics" routerLink="/view-tutorial-page/{{selected_subject}}/{{topic[0]}}">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>

            <h2 class="topic">{{topic[1].topic}}</h2>

            <p>
             <span>{{topic[1].description}}</span>

            </p>

            <br>
           <!-- <ion-progress-bar value="{{topic[1].progress}}"></ion-progress-bar>-->


          </ion-col>

       <!--   <ion-col class="ion-align-self-center ion-justify-content-center">
            <ion-img src="{{getSubjectImage() || 'assets/images/book.jpg' }}">

            </ion-img>
          </ion-col>-->


        </ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>
