<ion-content>
  <ion-card no-margin="">
    <ion-card-header color="primary" text-center="">
      <ion-card-title>
        Paused Quiz
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item no-padding="" no-margin="">
        <ion-label>Category > {{ data.questions[0].category }}</ion-label>
      </ion-item>

      <ion-grid>
        <ion-row justify-content-center="">
          <ion-col>
            <p>Countdown</p>
            <p>{{ data.countdown }}</p>
          </ion-col>

          <ion-col>
            <p>Page</p>
            <p>{{ data.current_index + 1 }}</p>
          </ion-col>

          <ion-col>
            <p>Remaining</p>
            <p>{{ data.quiz_config.amount - (data.current_index + 1) }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <hr />

      <ion-button expand="block" margin-bottom="" (click)="resumeQuiz()"
        >Resume</ion-button
      >

      <ion-button expand="block" margin-bottom="" (click)="restartQuiz()"
        >Restart Quiz</ion-button
      >

      <ion-button expand="block" margin-bottom="" (click)="backToDashboard()"
        >Back To Dashboard</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
