.currently_playing{
  background-color: var(--ion-color-primary);
  color: white;
}
.card-video-header{
  background-color: var(--ion-color-primary);
}

ion-icon{
  color: var(--ion-color-primary);
}
.after_video{
  margin-top: 220px;
 }
