<ion-header>
  <ion-toolbar>
    <ion-title text-center="">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="page_loaded">

  <ion-list class="">

    <app-quiz-history *ngFor="let quiz of completed_quiz" [quiz]="quiz">
    </app-quiz-history>


  </ion-list>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
