<ion-header>
  <ion-toolbar>
    <ion-title text-center="">Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <ion-card *ngIf="quiz_journey_data">
    <ion-card-header>
      <ion-card-title>Challenge</ion-card-title>

      <ion-card-subtitle>Level : Beginner </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>


      <ion-item no-padding="" no-margin="">

        <ion-label >Category > {{paused_quiz.category}}</ion-label>


      </ion-item>

      <ion-grid>
        <ion-row justify-content-center="">

          <ion-col  size="4">
            <p>Current Page </p>
            <strong>{{paused_quiz.current_index + 1}}</strong>
          </ion-col>

          <ion-col size="4">
            <p>Countdown</p>
            <strong> {{paused_quiz.countdown}}Secs</strong>
          </ion-col>

          <ion-col size="4">
            <p>Remaining</p>
            <strong>{{paused_quiz.quiz_config.amount - (paused_quiz.current_index + 1)  }}</strong>
          </ion-col>


        </ion-row>




      </ion-grid>
      <ion-button expand="block" (click)="resumePausedQuiz()">Resume</ion-button>

    </ion-card-content>
  </ion-card>




  <div *ngIf="data_loaded">

    <ion-card *ngIf="paused_quiz">
      <ion-card-header>
        <ion-card-title>Paused Quiz</ion-card-title>

        <ion-card-subtitle>Paused Quiz Found </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>


        <ion-item no-padding="" no-margin="">

          <ion-label >Category > {{paused_quiz.category}}</ion-label>


        </ion-item>

        <ion-grid>
          <ion-row justify-content-center="">

            <ion-col  size="4">
              <p>Current Page </p>
              <strong>{{paused_quiz.current_index + 1}}</strong>
            </ion-col>

            <ion-col size="4">
              <p>Countdown</p>
              <strong> {{paused_quiz.countdown}}Secs</strong>
            </ion-col>

            <ion-col size="4">
              <p>Remaining</p>
              <strong>{{paused_quiz.quiz_config.amount - (paused_quiz.current_index + 1)  }}</strong>
            </ion-col>


          </ion-row>




        </ion-grid>
        <ion-button expand="block" (click)="resumePausedQuiz()">Resume</ion-button>
        <p text-center="">OR</p>

        <ion-button expand="block"  (click)="startNewQuiz()">Start New Quiz </ion-button>

      </ion-card-content>
    </ion-card>




      <form *ngIf="!paused_quiz" (ngSubmit)="submitQuizConfiguration()" #quizConfigForm="ngForm">
        <ion-list>
          <ion-list-header></ion-list-header>

          <ion-item>
            <ion-label >Category</ion-label>

            <ion-select  [interfaceOptions]="customActionSheetOptions" interface="action-sheet"   [(ngModel)]="quiz_config.category" name="category" [placeholder]="'Category'"  >

              <ion-select-option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</ion-select-option>



            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Difficulty Level</ion-label>

            <ion-select interface="action-sheet"  [(ngModel)]="quiz_config.difficulty" name="difficulty" [placeholder]="'Difficulty'">

              <ion-select-option value="hard">Hard</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="easy">Easy</ion-select-option>

            </ion-select>
          </ion-item>




          <ion-item>

            <ion-label slot="start">Number of Question</ion-label>

            <ion-input slot="end" value="5" type="number" [(ngModel)]="quiz_config.amount" name="amount">
            </ion-input>

            <!--    <ion-grid  >
                    <ion-row>
                        <ion-col [size]="10" >
                        </ion-col>

                        <ion-col [size]="">

                        </ion-col>

                    </ion-row>
                </ion-grid>

-->
          </ion-item>






        </ion-list>

        <ion-button padding-horizontal="" expand="block" (click)="submitQuizConfiguration()">START</ion-button>


      </form>



  </div>





</ion-content>
