<ion-header id="">
  <ion-toolbar>
    <ion-title text-center>
      Explanation
    </ion-title>

    <ion-buttons color="white" slot="start" (click)="goBack()">
      <ion-button style="color: #f4f5f8">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="trophy_card" text-center="">
    Explanation Section
    <p>
      ghvjbk dhbjkn dvibn duvhbijonkojhvkbjhvb dhvjbkljhv
    </p>
  </ion-card>

  <ion-card class="trophy_card" text-center="">
    <ion-card-header>
      Video Section
    </ion-card-header>

    <ion-card-content>

      <video height="200" width="200">

      </video>

    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-card-header>Options</ion-card-header>
    <ion-card-content>
      <ion-list>



        <ion-item
                margin=""
                text-center=""
                color="danger"
                class="options_item"
                lines="none"
        >
          <ion-label>Bookmark</ion-label>
        </ion-item>

        <ion-item
                margin=""
                text-center=""
                color="danger"
                class="options_item"
                lines="none"
        >
          <ion-label>Share To Feed</ion-label>
        </ion-item>

        <ion-item
                margin=""
                text-center=""
                color="danger"
                class="options_item"
                lines="none"
        >
          <ion-label>Screenshot</ion-label>
        </ion-item>

        <ion-item
                margin=""
                text-center=""
                color="danger"
                class="options_item"
                lines="none"
        >
          <ion-label>Report</ion-label>
        </ion-item>







      </ion-list>

    </ion-card-content>
  </ion-card>



</ion-content>
