<ion-app style="height:100vh">


    <ion-menu mode="md" type="overlay">

        <ion-header>
            <ion-toolbar style="height: 25vh;border: none" class="toolbar"  >

              <!--  <ion-avatar>
                    <ion-icon slot="start" name="contact"></ion-icon>
            </ion-avatar>-->

   <ion-avatar style="text-align: center;margin: auto;margin-top: 5vh;border: none">
       <img src="assets/images/user_male.png">
    </ion-avatar>

     <br>

   <p *ngIf="is_user_signed_in" style="text-align: center;margin: auto;">Welcome {{user_details.username | titlecase }}</p>

    <p *ngIf="!is_user_signed_in" style="text-align: center;margin: auto;">Welcome Guest</p>



            </ion-toolbar>


        </ion-header>


        <ion-content>

            <ion-list>
                <div *ngFor="let p of appPages">
                    <ion-menu-toggle auto-hide="false" *ngIf="p.should_display">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="p.click_handler()">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </div>


            </ion-list>

        </ion-content>
    </ion-menu>


    <ion-router-outlet main></ion-router-outlet>


    <ion-item class="add_to_home_screen" *ngIf="show_add_to_home">
        <ion-label>Add To Home screen</ion-label>

        <ion-button (click)="addToHome()">
            YES
        </ion-button>

        <ion-button (click)="show_add_to_home = false">
            NO
        </ion-button>
    </ion-item>


</ion-app>
